*{
    box-sizing: border-box;
} /*"border-box" means that the width and height properties (and min/max properties) include content, padding and border*/

*{
    font-family: sans-serif;

}

body{
    background-color: #aadacc;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 0px;
}

header{
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 0px;
    margin-top: 0px;
    width: calc(100% - 10px);
}


.background{
    background-color: #6eceb2;
    margin-left: 20px;
    margin-right: 20px;
    padding-bottom: 5%;
    padding-top: 0%;
}

footer{
    background-color: #e6e6e6;
    padding: 2%;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
    font-family: sans-serif;
    font-weight: bold;
    color: #808080;
}


/*Header - main page */

.wrapper-header{
    width: 90%;
    position: sticky;
    z-index: 1;
    background-color: #f2f2f2;
    top: 0;
    display:grid;
/*
    padding-left: 0%;
    padding-right: 0%;
*/
    margin-right: auto;
    margin-left: auto;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-template-areas:
    "area1 area3"
    "area2 area2";
}

.header-area1 {
    grid-area: area1;
    padding: 3%;
    height: 110px;
/*    z-index: 1;*/
}

.header-area2 {
    grid-area: area2;
    padding: 2%;
    display: none;
/*    z-index: 1;*/
}

.header-area3 {
    grid-area: area3;
    padding: 0%;
    height: 110px;
/*    z-index: 1;*/
}

/*links in nav at main page*/
.wrapper-header a:link{
    margin-left: 4%;
    margin-top: 0%;
    color: #808080;
    text-decoration: none;
    display: inline-block;
}

.wrapper-header a:visited{
    color: darkgrey;
}

.wrapper-header a:hover{
    color: black;
}

#logo{
    max-width: 100%;
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 30px;
}

.bigMenuTxt{
    margin-top: 40px;
    font-family: sans-serif;
    font-weight: bold;
}


.sections{
    margin-top: 3%;
    background-color: #e6e6e6;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 3%;
    padding: 5%;
    align-content: center;
}

.secTitle{
    font-size: 9.5em;
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
    color: #999999;
    margin-top: 0%;
    margin-bottom: 0%;
}


.secList{
    font-size: 3em;
    font-family: sans-serif;
    font-weight: bold;
    text-align: left;
    color: #999999;
    justify-content: center;
    margin-bottom: 2%;
}


.bulletpoint{
    padding-left: 2%;
}



li:before {
    content: "";
    border-color: transparent #999999;
    border-style: solid;
    border-width: 0.35em 0 0.35em 0.45em;
    display: block;
    height: 0;
    width: 0;
    left: -1em;
    top: 0.9em;
    position: relative;
    z-index: 0;
}

ul {
  list-style: none;
}

#logo{
    z-index: 2;
}

/*program*/

.program{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas:
    "area1 area2 area3 area4"
    "area5 area7 area9 area10"
    "area6 area8 area9 area11"
        ;
    margin-top: 3%;
}

.program-area1{
    grid-area: area1;

}
.program-area2{
    grid-area: area2;
}
.program-area3{
    grid-area: area3;
}
.program-area4{
    grid-area: area4;
}
.program-area5{
    grid-area: area5;
}
.program-area6{
    grid-area: area6;
}
.program-area7{
    grid-area: area7;
}
.program-area8{
    grid-area: area8;
}
.program-area9{
    grid-area: area9;
}
.program-area10{
    grid-area: area10;
}
.program-area11{
    grid-area: area11;
}

.program div{

    font-size: 1.5em;
    padding-left: 2%;
    padding-right: 4%;
    padding-bottom: 20%;
    color: white;
    background-color: gray;
    margin: 1%;
    text-transform: uppercase;
}

.program .program-area1, .program .program-area2, .program .program-area3, .program .program-area4{
    padding-bottom: 2%;
    text-align: center;
}

/*Tablet version (area 3 with big menu is hidden)  ///////////////////////////////////////////////////////////////////////////*/

@media all and (max-width: 768px) {




    .wrapper-header{
    display:grid;
    padding-left: 0%;
    padding-right: 0%;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-template-areas:
    "area1 area2"
    "area3 area3";
}

.header-area1 {
    grid-area: area1;
    background-color: #666666;
    font-size: 3.5vh;
    padding-left: 4%;
    padding-top: 4%;
}


.header-area2 {
    grid-area: area2;
    background-color: #666666;
    padding: 8%;
    display: block;
}


.header-area3 {
    grid-area: area3;
    text-align: right;
    position: relative;
    background-color: #666666;
    overflow: hidden;
    padding: 0%;
    max-height: 0;
    /*display: none;*/
}




/*Nav with burger ///////////////////*/

#navSmall{
        display: none;
    }

#navSmall2{
        display: none;
    }

label {
    font-size: 4.5vh;
    float: right;
    cursor: pointer;
    color: #ffffff;
}

.burger-open {
    grid-area: area3;
    max-height: 500px;
    padding: 3%;
    text-align: right;
    color: #000000;
}


.burger2-open {
    grid-area: areaH3;
    max-height: 500px;
    padding: 3%;
    text-align: right;
    }




}



/*Mobile version (area 3 with big menu is hidden)  ///////////////////////////////////////////////////////////////////////////*/
@media all and (max-width:400px) {

    }




